<!-- <html>
    <head>
        <title>
            <%= title  %>
        </title>
    </head>

    <body>
        <%- include('_header'); %> -->
        <link rel="stylesheet" type="text/css" href="<%= assetPath('css/user_profile.css')%>">
        <h1>
            Codeial / Profile Page
        </h1>

 
        <%- include('_profile.ejs') -%>

        
        <script type="text/javascript" src="<%= assetPath('javascripts/user_profile.js')%>"></script>
    <!-- <%- include('_footer'); %>
        
    </body>
</html> -->    